<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
	<img src = "http://capture.heartrails.com/400x400/round/bg=eeeeee?https://life-is-tech.com/">
</body>
</html>
